$helveticaNeue: 'HelveticaNeue';
$helveticaMedium: 'HelveticaNeueMedium';

._main {
  background-color: black;
  width: 100%;
  padding: 5rem 2.5% 3rem 2.5%;
  margin: 0 auto;
  position: relative;
}

._titleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  display: inline-block;
}

._underscore {
  border: none;
  border-bottom: 0.3125rem solid white;
  width: 2.25rem;
  margin-left: 1rem;
  position: absolute;
  bottom: 1em;
  right: -3.4375rem;
  bottom: 0.6rem;
}

._title {
  font-family: $helveticaMedium;
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 0;
  padding: 0;
  color: white;
}

._topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._rightText {
  color: white;
  font-family: $helveticaNeue;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

._carouselParent {
  margin-top: 4.5rem;
  margin-bottom: 2.4rem;
  padding-left: 2rem;
  position: relative;
}

._shadow {
  position: absolute;
  background-color: black;
  width: 2.5rem;
  right: -0.625rem;
  filter: blur(28px);
  height: 100%;
  z-index: 4;
}
