@import '@styles/index.scss';


._bannerContainer{
  width: 100%;
  height: 60vh;
}

._buttonContainer{
  width: 18.4375rem;
  margin-bottom: 3rem;

}

@include responsive(md) {
  ._bannerContainer{
    height: 45vh;
  }
}
