@import '@styles/index.scss';

$helveticaNeue: 'HelveticaNeue';

@mixin layout($width, $height) {
  width: $width;
  height: $height;
}

._main {
  height: 100vh;
  padding-top: 7rem;
  width: 95%;
  margin: 0 auto;
}

._motion {
  @include layout(100%, 35%);
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

._motionImage {
  height: 100%;
}

._purpose {
  @include layout(100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._information {
  @include layout(100%, 15%);
  display: flex;
  align-items: center;

}

._purposeTexts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  & p {
    font-family: 'NormalFont', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
  }
}

._line {
  border: none;
  border-bottom: solid 2px #000;
}

._btnSuperParent {
  display: flex;
  justify-content: flex-end;
}

._btnParent {
  width: 18.4375rem;
}

._services {
  padding-top: 1rem;
  @include layout(100%, 35%);


  & p:last-child{
    width: 35%;
    font-family: 'NormalFont', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 0.875rem;
    margin-top: 2rem;
  }
}

._servicesBtnParent {
  font-size: 0.875rem;
  width: 18.4375rem;
}

._bottomBtnParent {
  width: 7rem;
}

._linksParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  & a {
    font-family: 'MediumFont', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }

  & a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

._boxParent {
  cursor: pointer;
  transition: all 0.6s;

  &:hover {
    transform: translateY(0.3rem);
    transition: all 0.6s;
  }
}


@include responsive(md) {
 ._btnSuperParent{
  justify-content: flex-start;
 }
 ._btnParent{
   width: 100%;
 }
 ._servicesBtnParent{
   width: 100%;
 }
 ._services {
  & p {
    width: 100%;
    font-size: 0.8125rem;
  }
}
._information{
  display: none;
}
._purposeTexts{
  & p{
    font-size: 0.875rem;
  }
}

}
