@import '@styles/index.scss';

@mixin commonStyles {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1030;
}

._lottieParent {
  display: flex;
  justify-content: center;
  align-items: center
}

._lottieParentHide {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 0.8s linear forwards;
}

._main {
  @include commonStyles;
}

._hide {
  @include commonStyles;
  animation: hide 0.8s linear forwards;
}

._lottie {
	width: 35%;
}

._static {
  display: none;
}

._hidden {
  display: none;
}


@keyframes hide {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@include responsive(md) {
  ._lottie {
    width: 55%;
  }
}
