@import '@styles/index.scss';

._main {
  background-color: black;
  padding: 2.5rem 0;
}

._filters {
  justify-content: center;
  width: 95%;
  align-self: center;
  margin: 9rem auto 0 auto;
}

._list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 100%;

  & li {
    font-family: 'LightFont', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
  }

  & li::after {
    display: block;
    content: '';
    border-bottom: solid 1px #FFF;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  & li:hover::after {
    transform: scaleX(1);
  }
}

._grid {
  justify-content: center;
  width: 95%;
  margin: 3rem auto;
}

._gridChild {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, [col-start] .75fr 1fr [col-end]);
  grid-column-gap: 1.6rem;
  overflow: hidden;
}

._column {
  display: flex;
  flex-direction: column;
}

._itemParent {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 150%;
  margin-bottom: 2rem;
}

._item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: all 0.6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover::after  {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.5);
    transition: all 0.6s;
    z-index: 1;
  }

  &:hover ._description {
    bottom: 0;
    transition: all 0.5s;
  }

  &:hover ._logo {
    opacity: 1;
  }
}

._logo {
  opacity: 0;
  z-index: 2;
}

._description {
  position: absolute;
  background-color: white;
  z-index: 2;
  width: 100%;
  padding: 0.6rem;
  bottom: -2.4rem;

  & p {
    font-size: 0.875rem;
    font-family: 'LightFont', sans-serif;
  }
}


//RESPONSIVEEEE

._responsiveGridParent {
  margin: 3rem 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

._responsiveGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 90%;
}

._picture {
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: top;
}

._filtersBtn {
  display: flex;
  align-items: flex-start;
  align-self: start;
  margin: 1.5rem 5%;

  & p {
    color: #FFF;
    margin-right: 1rem;
    font-family: 'NormalFont', sans-serif;
    font-size: 1.1rem;
  }
}

._phoneFilters {
  margin: 1rem 5% 2rem 5%;
  align-self: flex-start;
  display: flex;

  & ul:last-child {
    margin-left: 2.5rem;
  }
}

._phoneList {
  color: #FFF;
  list-style: none;

  & li {
    font-family: 'NormalFont', sans-serif;
  }

  & li:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

._arrowParentTop {
  transform: rotate(180deg);
  transform-origin: center;
}

._arrowParent {
  transform: rotate(0);
  transform-origin: center;
}

._paginationParent {
  margin: 2.5rem 5% 0 5%;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

._square {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'NormalFont', sans-serif;
}

@include responsive(md) {
  ._filters, ._grid {
    display: none;
  }

  ._responsiveGridParent {
    display: flex;
  }
}
