@import '@styles/index.scss';

._bannerContainer{
  width: 100%;
  height: 65vh;
  background:black;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
._container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._content{
display: flex;
}
._titleContainer{
  width: 90%;
}
._logoContainer{
  width: 10%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin-top: 5rem;
}

._title{
  font-size: 7.125rem;
  font-weight: 700;
  font-family: 'BoldFont', sans-serif;
  color: white;
  position: relative;
}

._branchsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: flex-end;
}

._subtitle{
  font-size: 1.125rem;
  color: white;
  font-family: 'LightFont', sans-serif;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

._buttonContainer{
  width: 18.375rem;
}

@include responsive(md) {
  ._logoContainer{
  display: none;
  }
  ._bannerContainer{
  height: 65vh;
  }
  ._title{
    font-size: 2.75rem;
  }
  ._subtitle{
    font-size: 0.8125rem;
  }
._buttonContainer{
  margin: 2rem 0;
}
}


