@import '../../../public/styles/index.scss';

._leftArrow{
 position: absolute;
 display: block;
 z-index: 99;
 top: 40%;
 left: 36px;
}

._rightArrow{
  position: absolute;
  display: block;
  z-index: 99;
  top: 40%;
  right: 36px;
 }

 ._hide {
   display: none;
 }

 @include responsive(md) {
  ._leftArrow{
    display: none;
  }
  ._rightArrow{
    display: none;
  }
 }
