@import '@styles/index.scss';

._main {
  max-width: 37.5rem;
  padding: 0.6rem 0;
}

._btnParent {
  width: 12.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._message {
  font-size: 1.875rem;
  text-align: center;
  font-family: 'NormalFont', sans-serif;
  margin-bottom: 1.8rem;
  color:#C4C4C4;
}

@include responsive(md) {
  ._message {
    margin-bottom: 1.2rem;
  }

  ._main {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


