@import '@styles/index.scss';

._lineParent {
  display: flex;

  & p {
    margin: 0.6rem 0.6rem 0rem 1.2rem;
    width: 8%;
    font-family: 'NormalFont', sans-serif;
    line-height: 1.5em;
  }
}

._line {
  height: 11.125rem;
  width: 3px;
  background-color: #000;
}

._child {
  width: 95%;
  padding: 4rem 0 2rem 0;
  height: 100%;
  margin: auto;
}

._firstSection {
  height: 25%;
}

._middleSection {
  height:40%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2.4rem;
  margin-left: 1.4rem;
  color: #787878;

  & p {
    width: 40%;
    font-size: 0.9rem;
    font-family: 'LightFont', sans-serif;
    Line-height: 1.7rem;
  }
}

._exclamation {
  align-self: flex-end;
  margin-bottom: 2%;
}

._lastSection {
  height:35%;
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    font-family: 'BoldFont', sans-serif;
    width: 40%;
    font-size: 0.875rem;
    font-size: 3.2rem;
  }
}

@include responsive(md) {
  ._firstSection {
    display: none;
  }

  ._middleSection {
    height: auto;
    margin-left: 0;

    & p {
      width: 100%;
    }
  }

  ._title {
    font-size: 1.75rem;
  }

  ._lastSection {
    margin-top: 0.5rem;
    height: auto;
    margin-left: 0;
    & p {
      width: 80%;
      font-size: 1.625rem;
    }
  }

  ._exclamation {
    display: none;
  }

  ._child {
    padding: 2rem 0 2rem 0;

  }
}
