@import '@styles/index.scss';

._numberParent {
  display: flex;
  align-items: center;
}

._square {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #000;

  & p {
    color: #000;
    font-family: 'NormalFont', sans-serif;
    font-weight: bold;
  }
}

._input {
  border: solid 1px #fff;
  width: 3rem;
  padding: 0.1rem 0.5rem;
  height: 1.5rem;
  background-color: transparent;
  font-family: 'NormalFont', sans-serif;
  text-align: center;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #787878;
}
