
@import '../../../public/styles/index.scss';

._bannerContainer{
  width: 100%;
  min-height: 80vh;
  background:white;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
._container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

._logosContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

@include responsive(md) {
._content{
  grid-template-columns: repeat(4, 1fr);
}
}
