
@import '@styles/index.scss';
$helveticaNeue: 'HelveticaNeue';
$helveticaMedium: 'HelveticaNeueMedium';

@mixin text($bold, $size) {
	font-size: $size;

	@if ($bold) {
		font-weight: $bold;
	}
}

@mixin imageCommon {
  width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: center;
}

._generalGallery {
  padding: 3% 0px 3% 0px;
  width: 95%;
	margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
}

._isImage {
	@include imageCommon;
}

._teamPhoto {
	@include imageCommon;
	position: relative;
  filter: grayscale(1);
  transition: all 1s;

  &:hover {
    transition: all 1s;
    filter: grayscale(0);
  }

  &:hover ._teamDescription {
    transition: all 1s;
    opacity: 1;
  }
}

._teamDescription {
	box-sizing: border-box;
	background-color: #ececec;
	-webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

._teamList {
	list-style: none;

	& > li {
		font-family: $helveticaMedium;
    font-weight: 700;
    font-size: 1rem;
		color: #212121;
	}

  & li:nth-child(1) {
    margin-bottom: 0.2rem;
  }
}

._teamName {
	@include text(600, 0.9rem)
}

._teamPosition {
	@include text('', 0.9rem)
}

._circlesParent {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

._imgParent {
  cursor: pointer;
}

@include responsive(lg) {
  ._generalGallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

	._teamPhoto {
		width: 100%
	}
}

@include responsive(md) {
  ._generalGallery {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 0;
    box-sizing: border-box;
  }

	._teamPhoto {
		width: calc(100% - 0.5rem);
    height: 22vh;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-size: 100% 100%;

    &:nth-child(2n) {
      margin-left: auto;
    }
	}

  ._isImage {
    width: calc(100% - 0.5rem);
    height: 22vh;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-size: 100% 100%;

    &:nth-child(2n) {
      margin-left: auto;
    }
  }

  ._teamDescription {
   padding: 0.5rem;
  }

  ._teamList {
    list-style: none;

    & > li {
      font-family: $helveticaMedium;
      font-weight: 700;
      font-size: 0.8125rem;
      color: #212121;
    }

    & li:nth-child(2) {
      display: none;
    }
  }

  ._imgParent {
    display: none;
  }
}

