@import '@styles/index.scss';

$yellow: #E0C269;
$helveticaNeue: 'HelveticaNeue';
$helveticaMedium: 'HelveticaNeueMedium';
$gray: #C4C4C4;

$verticalMargin: 1.4rem;

@mixin text($color) {
  color: $color;
  font-size: 4rem;
}

@mixin commonMain {
  width: 100%;
  padding: 0 2.5%;
  margin: 0 auto;
}

._main {
  @include commonMain;
  padding-top: 3rem;
}

._mainYellow {
  @include commonMain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 27.875rem;
  animation: gradient ease 3s forwards;
  background: linear-gradient(-45deg, #FFF, #FFF, $yellow, $yellow);
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes smoothcolor {
  from {
    background-color: #FFF;
  }
  to {
    background-color: $yellow;
  }
}

._titleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

._titleChild {
  @extend ._titleParent;
}

@mixin underscore ($color) {
  border: none;
  border-bottom: 0.3125rem solid $color;
  width: 2.25rem;
  position: absolute;
  left: 12.4375rem;
  bottom: 0.6rem;
}

@mixin title($color) {
  font-family: 'NormalFont', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  @if ($color == 'white') {
    color: #FFF
  }
}

._underscore {
  @include underscore($yellow);
}

._underscoreWhite {
  @include underscore(#FFF);
}

._title {
  @include title('black');
}

._titleWhite {
  @include title('white')
}

._contentParent {
  margin: 2.5rem 0;
}

._textOne {
  @include text($yellow);
  font-family: 'NormalFont', sans-serif;
  font-weight: 700;
}

._textOneMargin {
  @extend ._textOne;
  margin-bottom: 4rem;
}

._textTwo {
  @include text(black);
  font-family: 'NormalFont', sans-serif;
  font-weight: 700;
}

._textTwoWhite {
  @extend ._textTwo;
  color: #FFF;
}

._formParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  & div:first-child {
    width: 60%;
  }
}

._input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0.6rem;
  font-size: 0.875rem;
  font-family: 'NormalFont', sans-serif;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: 'NormalFont', sans-serif;
  }
}

._parentBtn {
  width: 40%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;

  & div:first-child {
    margin-right: 2rem;
  }
}

._parentSubBtn {
  max-width: 13.0625rem;
  min-width:  13.0625rem;
}

._parentBtnSent {
  padding-bottom: 3rem;
  width: 18.375rem;
}

._stepper {
  width: 97.5%;
  margin-left: auto;
  height: 6px;
  display: block;
  background-color: $gray;
  border-radius: 7.5px;
  position: relative;
}

._step {
  width: 80%;
  background-color: $yellow;
  height: inherit;
  left: 0;
  border-radius: 7.5px;
}

._stepsNumber {
  margin-top: 4rem;
  font-family: 'NormalFont', sans-serif;
  margin-left: 2.5%;
  margin-bottom: 0.6rem;
}

._question {
  font-family: 'BoldFont', sans-serif;
  font-size: 0.9375rem;
  margin: 30px 0 10px 0;
  font-weight: 700;
}

._questionWhite {
  @extend ._question;
  color: #FFF;
}

._sentTitle {
  font-family: 'NormalFont', sans-serif;
  font-size: 3.75rem;
  margin: 2rem 0;
}

@include responsive(md) {

  ._main {
    width: 90%;
    padding-top: 2rem;
  }

  ._mainYellow {
    height: auto;
  }

  ._underscore{
    left: 9.4375rem
  }

  ._textOne, ._textTwo {
    font-size: 2.25rem;
  }

  ._contentParent {
    width: 100%;
  }

  ._formParent {
    display: block;
    width: 100%;

    & div:first-child {
      width: 100%;
    }
  }

  ._parentSubBtn {
    max-width: 48%;
    min-width: 48%;
  }

  ._parentBtn {
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;

    & div:first-child {
      margin-right: 0;
    }
  }

  ._title {
    font-size: 2.1875rem;
  }

  ._stepper {
    margin-left: 5%;
    margin-bottom: 3rem;
    width: 90.5%;
  }

  ._stepsNumber {
    margin-top: 3rem;
    margin-left: 5%;
  }


  ._sentTitle {
    font-size: 2.95rem;
  }

  ._parentBtnSent {
    width: 100%;
  }
}
