@import '../../../public/styles/mixins.scss';

$white: #fff;
$height: 2.938rem;
$helveticaNeue: 'HelveticaNeue';

@mixin common($width) {
	width: $width;
	height: inherit;
	display: flex;
	align-items: center;
}

._parent {
  position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 0.8rem;
	box-sizing: border-box;
	z-index: 998;
	height: 2.938rem;
}

._childOne {
	@include common(60%);
  padding-left: 1.5%;

}

._childTwo {
	@include common(20%);
}

._childThree {
	@include common(20%);
	justify-content: flex-end;
  align-items: center;
  padding-right: 1.5%;
}

._parentChild {
  width: 98%;
}

@include responsive(md) {
  ._mainChild {
    width: 100%;
  }

  ._parentChild {
    width: 95%;
  }

  ._childOne, ._childThree {
    width: 50%;
    padding-right: 0rem;
    padding-left: 0;
  }

  ._childTwo {
    display: none;
  }

}
