@import '../../../public/styles/mixins.scss';

$white: #fff;
$height: 2.938rem;
$helveticaNeue: 'HelveticaNeue';

@mixin common($width) {
	width: $width;
	height: inherit;
	display: flex;
	align-items: center;
}

._mainChild {
  background-color: $white;
  width: 95%;
  display: flex;
  height: inherit;
}

._parent {
  position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 0.8rem;
	box-sizing: border-box;
	z-index: 999;
	height: 2.938rem;
}

._childOne {
	@include common(60%);
  padding-left: 1.5rem;
}

._childTwo {
	@include common(20%);

  & p {
    font-family: $helveticaNeue;
    font-size: 0.875rem;
    font-weight: 600;
  }
}

._childThree {
	@include common(20%);
	justify-content: flex-end;
  padding-right: 1.5rem;
}

._toggleParent {
	cursor: pointer;
}

@include responsive(md) {
  ._mainChild {
    width: 90%;
  }

  ._childOne, ._childThree {
    width: 50%;
  }

  ._childTwo {
    display: none;
  }
}
