@import '@styles/index.scss';

$helveticaNeue: 'HelveticaNeue';
$helveticaMedium: 'HelveticaNeueMedium';

._main {
  background-color: black;
  width: 100%;
  padding: 5rem 2.5% 3rem 2.5%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

._titleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

._underscore {
  border: none;
  border-bottom: 0.3125rem solid white;
  width: 2.25rem;
  margin-left: 1rem;
  position: absolute;
  right: -3.4375rem;
  bottom: 0.6rem;
}

._title {
  font-family: 'NormalFont', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white;
}

._topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._rightText {
  color: white;
  font-family: 'NormalFont', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1.875rem;
  cursor: pointer;
}

._carouselParent {
  margin-top: 4.5rem;
  margin-bottom: 2.4rem;
  padding-left: 2rem;
  position: relative;
}

._shadow {
  position: absolute;
  background-color: black;
  width: 2.5rem;
  right: -0.625rem;
  filter: blur(28px);
  height: 100%;
  z-index: 4;
}

._seeResponsive {
  display: none;
}

._iframe {
	height : 200px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-position: top;
  transition: all 1s;
  position: relative;
  background-size: 80% 100%;

  &:hover {
    transition: all 1s;
  }

  &:hover ._videoDescription {
    transition: all 1s;
    opacity: 1;
  }
}
._videoDescription{
  width: 90%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.479);
	-webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  opacity: 0;
  margin: 0 auto;
  align-items: flex-end;
  display: flex;
}

._text{
  font-size: 0.9375rem;
  font-family: 'NormalFont', sans-serif;
  font-weight: 400;
	color: white
}
._textBold{
  font-size: 0.9375rem;
  font-family: 'BoldFont', sans-serif;
  font-weight: 400;
	color: white
}
._line {
  border: none;
  border-bottom: solid 2px #fff;
}

._videoContent{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}
._videoIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

@include responsive(md) {

  ._main {
    padding: 3rem 5% 3rem 5%;
  }

  ._carouselParent {
    margin-top: 3rem;
    padding-left: 0;
  }

  ._rightText {
    display: none;
  }

  ._title {
    font-size: 2.1875rem;
  }

  ._seeResponsive {
    display: flex;
    flex-flow: row;
    align-items: center;

    & p {
      color: white;
      font-family: $helveticaNeue;
      font-size: 0.875rem;
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

  ._iframe {
    width: 18.375rem;
    height: 10rem;
    background-size: 95% 100%;
  }

  ._shadow {
    display: none;
  }
  ._videoDescription{
    width: 95%;
  }
}
