@import './index.scss';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('../fonts/HELVETICANEUE.TTF');
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('../public/fonts/HELVETICANEUEMEDIUM.TTF');
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../public/fonts/HELVETICANEUEBOLD.TTF');
}
