@import '../../../public/styles/index.scss';

._container{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

._head{
  width: 95%;
  margin: 1rem auto;
}

._socialBanner{
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
._socialMedia{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._sectionsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

._sections{
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

._line {
  margin: 1rem 0;
  border: none;
  border-bottom: solid 1px #fff;
}

._contactContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

._contactNumber{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

._numbers{
  display: flex;
  flex-direction: column;
}

._contactMail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

._contactMedia{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

._text{
  color: #fff;
  font-size: 0.875rem;
}

._mb1 {
  margin-bottom: 1rem;
}

._logoContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

._copyright{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

@include responsive(md) {
  ._contactContainer{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  ._socialBanner{
    margin-top: 0.5rem;
    justify-content: flex-start;
  }

  ._sectionsContainer{
    width: 100%;
    margin-top: 1rem;
  }
  ._socialMedia{
   display: none;
  }
  ._contactNumber{
    margin-bottom: 1rem;
  }

  ._contactMail {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  ._contactMedia{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  ._text{
    margin: 0.5rem 0
  }

  ._numbers{
    flex-direction: row;
    & p:last-child {
      margin: 0.5rem 1rem;
    }

  }
}

