@import '../../../public/styles/index.scss';

._container{
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  width: 100%;
}

._head{
  width: 95%;
  margin: 0 auto;
}

._socialBanner{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 50%;
}
._socialMedia{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._sectionsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

._sections{
  font-weight: 700;
  font-family: 'BoldFont', sans-serif;
  font-size: 0.875rem;
  color: white;
}
._sectionsContent {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

._line {
  margin: 1rem 0;
  border: none;
  border-bottom: solid 1px #fff;
}

._contactContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

._contactNumber{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;
}


._contactMail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;
}

._contactMedia{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;

  & p {
    width: 70%;
  }
}

._text{
  color: #fff;
  font-size: 0.75rem;
  font-family: 'NormalFont', sans-serif;
}

._textBold{
  color: #fff;
  font-size: 0.75rem;
  font-family: 'BoldFont', sans-serif;
}


._mr1 {
  margin-right: 2rem;
}

._logoContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

._copyright{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

@include responsive(md) {
  ._contactContainer{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  ._sections{
    font-size: 0.8125rem;
  }

  ._socialBanner{
    margin-top: 0.5rem;
    justify-content: flex-start;
  }

  ._sectionsContainer{
    width: 100%;
    margin-top: 1rem;
  }
  ._socialMedia{
   display: none;
  }
  ._contactNumber{
    margin-bottom: 1rem;
  }

  ._contactMail {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  ._contactMedia{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  ._text{
    margin: 0.5rem 0;
    font-size: 0.8125rem;
  }

  ._numbers{
    flex-direction: row;
    & p:last-child {
      margin: 0.5rem 1rem;
    }

  }
}

