@import '../../../public/styles/index.scss';

._bannerContainer{
  width: 100%;
  min-height: 80vh;
  background:black;
  padding: 3rem 0;
  flex-direction: row;
}

._container {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

._imageContainer{
  width: 40%;
}

._testimonialContainer{
  width: 40%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 7%;
}

._titleContainer{
  margin-bottom: 2rem;
}

._title{
  color: white;
  font-size: 2.9375rem;
  font-weight: 700;
}
._subtitle{
  font-size: 1.125rem;
  color: white;
}

._line {
  margin: 1rem 0;
  border: none;
  border-bottom: solid 1px #fff;
  width: 95%;
}

._slide{
  width: 100%;
  flex-direction: row;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
._buttonContainer{
  width: 13%;
  align-self: flex-start;
}

@include responsive(md) {
 ._container{
   flex-direction: column;
 }
 ._imageContainer{
   width: 90%;
 }
 ._title{
   font-size: 1.5rem;
 }
 ._subtitle{
   font-size: 0.8125rem;
 }
 ._testimonialContainer{
   width: 90%;
   margin-left: 4rem;
 }
 ._line{
   display: none;
 }
 ._buttonContainer{
   width: 40%;
   margin-top: 1rem;
   margin-left: 2rem;
 }
}
