@import '@styles/index.scss';

._container{
  width: 95%;
  padding: 3rem 0;
  margin: 0 2.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

._bannerContent{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}

._title{
  font-size: 9.6875rem;
  font-family: 'BoldFont', sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 3rem;
  width: 60%;
}

._subtitle{
  font-size: 1.5rem;
  font-family: 'MediumFont', sans-serif;
  color: #C4C4C4;
  margin-bottom: 3rem;
  width: 40%;
}
._servicesBtnParent {
  font-size: 0.875rem;
  width: 18.4375rem;
}
._btnSuperParent {
  display: flex;
  justify-content: flex-end;
}

@include responsive(md) {
  ._title{
    font-size: 4.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  ._subtitle{
    font-size: 1.125rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
  ._bannerContent{
    align-items: center;
    justify-content: center;
  }
  ._container{
    justify-content: flex-start;
  }

 }





