@import '../../../public/styles/index.scss';

._bannerContainer{
   width: 100%;
   height: 55vh;
}
._banner{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
